.desc {
    /*max-height: 120px;*/
    text-overflow: ellipsis;
    /*overflow: hidden;*/
}

.desc-overflow {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-overflow {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}